
/* 
.image-nav{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
} */

.logOutBtn, .userProfile{
    width: 30px;
    color: orangered;
    border: none;
}

/* .text{
    
    display: flex;
    align-items: center;
} */